# Local configuration with credentials (uncomment below if you want to hide credentials from git)
# config/atlassian.json
Config/atlassian.yaml

# Python
__pycache__/
*.py[cod]
*.egg-info/

# OS
.DS_Store
Thumbs.db
